.box {
    width: 765px;
    padding: 20px 30px;
    border: 1px solid #edf3fa;
    box-shadow: 2px 2px 2px 2px #EDF3FA;
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    height: 2100px;
    flex-direction: column;
}

.name:hover {
    color: #4A90E2;
}

.text_box {
    display: flex;
    flex-direction: column;
    width: 220px;
    color: #5a5959;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .2px;
}


.sub_category_heading {
    padding: 10px 0px 5px 0px;
    font-size: 14px;
    font-weight: 650;
    color: #3D3D3D;
}

.category_name {
    padding: 20px 0px 10px 0px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 700;
}

.heading {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bar {
    padding: 15px 20px 5px 20px;
    display: flex;
    flex-direction: row;
}

.text {
    color: #3d3d3d;
    font-weight: 600;
    font-size: 14px;
    margin-right: 50px;
}

.text:hover {
    color: black;
}